################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FadeOutDemo/v16
/FadeOutDemo/bin/Debug
/FadeOutDemo/obj/Debug
/FadeOutDemoWPF/obj/Debug
/FadeOutDemoWPF/bin/Debug
